.confirmar{
    width: 150px;
    height: 40px;
    background-color: red !important;
    border: 2px solid red;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}