.about-page {
  // justify-content: center;
  // align-items: center;
  gap: 5%;
  margin-top: 2%;
  .foto {
    background-color: #050e3c;
    align-items: center;
    justify-content: center;
    padding: 18% 16%;
    margin-bottom: 18%;
  }
  .about-content {
    padding: 5%;
  }
}
