/* Contact.scss */

.contact-page {
  padding-top: 3%;
}

.cont {
  text-align: center;
  margin-bottom: 20px;
  color: #07124b;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

.conta {
  margin-bottom: 20px;
  color: #07124b;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  height: 150px;
}

.button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton {
  background-color: RGB(5, 14, 60);
  color: white;

  height: 48px;
  border-radius: 8px;

  margin-left: 38%;
}
.formu {
  align-items: center;
  padding-bottom: 10%;
}
